{{ form_start(form) }}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Data</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="fa fa-calendar"></span>
                    </span>
                    {{ form_widget(form.name, {
                        'attr': {
                            required: true
                        }
                    }) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
        {{ form_widget(form.submit, {
            'label' : 'Enviar formulario',
            'attr': {
                'class' : 'btn btn-success'
            }
        }) }}
        </div>


        {{ form(form) }}
    </div>    
{{ form_end(form) }}

