<div class="row" ng-controller="NotificationController">   
    <div id="nt_context" class="col-xs-12" value="{{ context }}">

        {% raw %}
        <div class="alert"
             ng-repeat="N in notifications"
             ng-class="{'alert':true, 'alert-warning':N.days_left >= 0, 'alert-danger': N.days_left < 0}"
             role="alert">
                <span ng-if="N.days_left < 0">
                    Atenção!
                    <a href="./{{N.id}}/edit">{{N.type_label}} {{N.objcode}}</a>
                    &nbsp;devia ter sido respondida {{N.days_left*-1}} dias atras.
                </span>

                <span ng-if="N.days_left >= 0">
                    Lembrete: Faltam {{N.days_left}} dias para responder a&nbsp;
                    <a href="./{{N.id}}/edit">{{N.type_label}} {{N.objcode}}.</a>
                </span>
        </div>

        <div class="text-center"  
              ng-if="notifications.length != all_notifications.length"
              style="margin-bottom: 10px;">
            <a ng-click="loadMore()" style="font-size: 15px;text-decoration: underline;font-weight: bold">
                Ver mais ({{all_notifications.length-2}})
            </a>
        </div>

        {% endraw %}
    </div>

</div>
